@page "/blog"
@inject ExampleJsInterop _exampleJsInterop

<h1>Blog</h1>

<ul>
    <li>Post 1</li>
    <li>Post 2</li>
    <li>Post 3</li>
    <li>Post 4</li>
    <li>Post 5</li> 
    <li>Post 6</li>
</ul>

<MyButton OnClick="AddPost">Add Post</MyButton>

@code{
    async void AddPost(){
        await _exampleJsInterop.Prompt("Add Post");
    }
}