@page "/shop"
@inject ExampleJsInterop _exampleJsInterop

<h1>Shop</h1>

<ul>
    <li>Product 1</li>
    <li>Product 2</li>
    <li>Product 3</li>
    <li>Product 4</li>
    <li>Product 5</li>
    <li>Product 6</li>
</ul> 

<MyButton OnClick="AddProduct">Add Product</MyButton>

@code{
    async void AddProduct(){
        await _exampleJsInterop.Prompt("Add Product");
    }
}