@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=F769A503-8F21-4924-BD47-FA1D56FAC3BA

@casablanca:registry=https://pkgs.dev.azure.com/casablancahotelsoftware/_packaging/casablancahotelsoftware-npm/npm/registry/
always-auth=true