@namespace design_system

<button class="my-button" @onclick="OnClick">
    @(MyProperty.SomeName) - @(ChildContent)
</button>

@code{
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    public Something MyProperty { get; set; }
} 